.icon2 {
    width: 80px;
    min-width: 70px;
    height: auto;
    border-radius: 25%;
}

.footercontainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0fr;
    background-color: black;
    justify-content: space-around;
    font-size: 20px;
    justify-items: center;
    align-items: center;
    color: white;
    bottom: 0;
    width: 100%;
    gap: 150px;
    padding: 50px;
    box-shadow: 1px 1px 6px 1px grey;
}

@media screen and (max-width: 600px) {
    .footercontainer {
        gap: 15px;
        font-size: 0.9em;
    }
    .footer {
        margin-right: 0px;
    }
}

.footericon {
    width: 30px;
    height: auto;
    filter: invert(1);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    height: 200px;
}
