.form {
    max-width: 500px;
    background-color: black;
    justify-content: center;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    /* background-color: #fff; */
    opacity: 0.8;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

@media screen and (max-width: 550px) {
    .form {
       width: 350px;
    }
}
  
.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
.centered {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
  }

  .textarea {
    height: 200px;
  }
  
.centered:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.submitbtn[type="submit"] {
    background-color: #00ad06;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
  
  .submitbtn[type="submit"]:hover {
    background-color: #33ff3a;
  }

  /* Fix: */
  
  .msgsent {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    color: #3c763d;
  }
  
  .msgsent p {
    margin-bottom: 10px;
  }